/* Make navbar background white */
.navbar {
    background-color: #fff !important;
    color: #333;
    /* box-shadow: none;
    padding: 0 20px; */
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Search bar container */
  .search-bar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 5px 15px;
    width: 400px;
    position: relative;
  }
  
  /* Search input */
  .search-input {
    flex-grow: 1;
    padding: 5px 10px;
  }
  
  /* Search icon */
  .search-icon {
    color: #333;
    position: absolute;
    right: 10px;
    padding: 5px;
  }
  
  /* Icon box around each icon */
  .icons-container {
    display: flex;
    align-items: center;
  }
  
  /* Styling for each icon box */
  .icon-box {
    background-color: #f4f4f4;
    border-radius: 12px;
    padding: 8px;
    margin-right: 10px;
  }
  
  /* Remove default IconButton hover effect */
  .icon-box .MuiIconButton-root {
    padding: 5px;
  }
  
  /* Greeting text */
  .greeting {
    color: #333;
  }
  